node_modules
coverage
tmp_data
logs
reference_material
cache
github-repos
.env
public/img
public/mp3
public/imgen
public/video
public/yaml
public/html
utils/batch_input.jsonl
public/temp/
credentials.json
token.json
tokens.json
test.js
