extends layout

block content
  .row
    .col
      h1 Chat Room
    .col.d-flex.justify-content-evenly
      a.btn.btn-secondary(href="/chat5") New conversation
      button.btn.btn-secondary(type="button", onclick="OpenLoad()") Load conversation
  h3#title
  ul#messages
  form#message-form
    #message
    input#fileInput.form-control(type="file", name="fileInput", multiple, accept="image/*")
    #status
    .input-group
      select#model.form-control(name="model", onchange="UpdateModel(this)")
        option(value="gpt-4o-mini") Default (gpt-4o-mini)
        each m in models 
          option(value=m.api_model)= m.model_name
        each m in models 
          if m.batch_use
            option(value=`batch+${m.api_model}`)= `[Batch] ${m.model_name}`
      button.btn.btn-primary(type="submit") Send
      button.btn.btn-secondary(type="button", onclick="OpenSettings()") Settings
  #settings.popup-wrapper 
    .popup-content
      button.btn.btn-warning(onclick="GenerateTitle()") Generate new title by AI
      form#settings-form
        label(for="context") Set a context/system message
        textarea#context.form-control(name="context", rows="7", placeholder="Type your context here...")
        label(for="category") Conversation category
        .input-group
          input#category.form-control(type="text", name="category", value="Chat5")
          select#clist.form-control(name="clist", onchange="SetCategory(this)") 
            option(value="Chat5") Chat5
        label(for="tags") Conversation tags (*Comma-separated string)
        input#tags.form-control(type="text", name="tags", value="chat5")
        .form-check
          input#dulpicate.form-check-input(type="checkbox", onclick="ToggleDuplicate(this)")
          label.form-check-label(for="dulpicate")  Duplicate conversation
        button.btn.btn-primary(type="submit") Update/Close
  #load.popup-wrapper 
    .popup-content
      .row 
        .col
          label(for="load_category") Category 
          input#load_category(type="text", name="load_category", onchange="UpdateLoad()") 
        .col
          label(for="load_tags") Tags 
          input#load_tags(type="text", name="load_tags", onchange="UpdateLoad()") 
        .col
          label(for="load_keyword") Keyword 
          input#load_keyword(type="text", name="load_keyword", onchange="UpdateLoad()") 
      h4 Select a conversation to load
      ul#loadlist
      button.btn.btn-danger(type="button", onclick="CloseLoad()") Cancel
  #loadingPopup.loading-popup
    span.close-btn(onclick="hideLoadingPopup()") &times;
    .loading-content
      .loader
      p Loading...
  script(src="https://cdn.socket.io/4.0.0/socket.io.min.js", defer)
  script(src="https://cdn.jsdelivr.net/npm/marked/marked.min.js", defer)
  script(src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js", defer)
  script(src="/js/chat5.js", defer)