extends layout

block content
  .row
    .col
      h1 Chat Room
    .col.d-flex.justify-content-evenly
      a.btn.btn-secondary(href="/chat5") New conversation
      button.btn.btn-secondary(type="button", onclick="OpenLoad()") Load conversation
  h3#title
  i#conversation_id= conversationId ? conversationId : "new"
  form#message-form
    #message
    .input-group
      input#fileInput.form-control(type="file", name="fileInput", multiple, accept="image/*")
      select#text_templates.form-control(name="text_templates", onchange="SetText(this)")
        option(value="") - Select a template text - 
    #status(data-files="[]")
    .input-group
      select#model.form-control(name="model", onchange="UpdateModel(this)")
        option(value="gpt-4o-mini") Default (gpt-4o-mini)
        each m in models 
          option(value=m.api_model)= m.model_name
        each m in models 
          if m.batch_use
            option(value=`batch+${m.api_model}`)= `[Batch] ${m.model_name}`
      input#max.form-control(type="number", name="max", value="0")
      button.btn.btn-primary(type="submit") Send
      button.btn.btn-warning(type="button", onclick="GenerateImage()") Image
      button.btn.btn-secondary(type="button", onclick="OpenSettings()") Settings
  ul#messages
  #settings.popup-wrapper 
    .popup-content
      button.btn.btn-warning(onclick="GenerateTitle()") Generate new title by AI
      button.btn.btn-warning(onclick="OpenTemplate()") Create template
      form#settings-form
        label(for="context") Set a context/system message
        textarea#context.form-control(name="context", rows="7", placeholder="Type your context here...")
        select#context_templates.form-control(onchange="SetContext(this)")
          option(value="") - Select a template -
        label(for="category") Conversation category
        .input-group
          input#category.form-control(type="text", name="category", value="Chat5")
          select#clist.form-control(name="clist", onchange="SetCategory(this)") 
            option(value="Chat5") Chat5
        label(for="tags") Conversation tags (*Comma-separated string)
        .input-group
          input#tags.form-control(type="text", name="tags", value="chat5")
          select#tlist.form-control(name="tlist", onchange="SetTag(this)") 
            option(value="chat5") chat5
        .form-check
          input#dulpicate.form-check-input(type="checkbox", onclick="ToggleDuplicate(this)")
          label.form-check-label(for="dulpicate")  Duplicate conversation
        b Reasoning: 
        .form-check
          input#low(type="radio", name="reasoning", value="low", onclick="SetReasoning(this)")
          label.form-check-label(for="low") Low 
        .form-check
          input#medium(type="radio", name="reasoning", value="medium", checked, onclick="SetReasoning(this)")
          label.form-check-label(for="medium") Medium 
        .form-check
          input#high(type="radio", name="reasoning", value="high", onclick="SetReasoning(this)")
          label.form-check-label(for="high") High
        hr
        .row 
          .col 
            label(for="image_model") Image model 
            select#image_model.form-control(name="image_model") 
              option(value="gpt-image-1") GPT Image 1 (32k prompt)
              option(value="dall-e-3") DALL E 3 (4k prompt)
          .col 
            label(for="image_quality") Image quality 
            select#image_quality.form-control(name="image_quality") 
              option(value="high") High/HD
              option(value="medium") Medium/Standard
              option(value="low") Low(/Standard)
          .col 
            label(for="image_size") Image size 
            select#image_size.form-control(name="image_size") 
              option(value="square") Square (1024x1024)
              option(value="landscape") Landscape (1536x1024/1792x1024)
              option(value="portrait") Portrait (1024x1536/1024x1792)
        hr
        button.btn.btn-primary(type="submit") Update/Close
  #load.popup-wrapper 
    .popup-content
      .row 
        .col
          label(for="load_category") Category 
          .input-group
            input#load_category.form-control(type="text", name="load_category", onchange="UpdateLoad()") 
            select#cllist.form-control(name="cllist", onchange="SetLoadCategory(this)") 
              option(value="Chat5") Chat5
        .col
          label(for="load_tags") Tags 
          .input-group
            input#load_tags.form-control(type="text", name="load_tags", onchange="UpdateLoad()") 
            select#tllist.form-control(name="tllist", onchange="SetLoadTag(this)") 
              option(value="chat5") chat5
        .col
          label(for="load_keyword") Keyword 
          input#load_keyword.form-control(type="text", name="load_keyword", onchange="UpdateLoad()") 
      h4 Select a conversation to load
      ul#loadlist
      button.btn.btn-danger(type="button", onclick="CloseLoad()") Cancel
  #template_pop.popup-wrapper 
    .popup-content
      .row 
        .col 
          h3 Create a template 
          input#template_title.form-control(type="text", name="template_title", placeholder="Template name")
          textarea#template_content.form-control(name="template_content", rows="7", placeholder="Type your template here...")
          select#template_type.form-control(name="template_type") 
            option(value="chat") Chat
            option(value="context") Context
          button.btn.btn-primary(type="button", onclick="SaveTemplate()") Save
          button.btn.btn-danger(type="button", onclick="CloseTemplate()") Close
  #loadingPopup.loading-popup
    span.close-btn(onclick="hideLoadingPopup()") &times;
    .loading-content
      .loader
      p Loading...
  script(src="https://cdn.socket.io/4.0.0/socket.io.min.js", defer)
  script(src="https://cdn.jsdelivr.net/npm/marked/marked.min.js", defer)
  script(src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js", defer)
  script(src="/js/chat5.js", defer)