extends layout

block content
  .row
    .col
      h2 CHAT4 (in construction...)

  .row 
    .col 
      form(action="/chat4/post", method="post", enctype="multipart/form-data") 
        label(for="img") Upload an image (JPEG, PNG, WebP, AVIF, GIF, SVG or TIFF)
        input#imgs.form-control(type="file", name="imgs", multiple)
        label(for="prompt") Prompt
        textarea#prompt.form-control(name="prompt", cols="30", rows="10")
        input.btn.btn-primary(type="submit", value="Send")
  script(src="/js/chat4.js") 
