extends layout

//- PUG INPUT:
//- this_conversation    All messages with given conversation ID
//- chats                Summary of all conversations, with conversation ID, title, and last message
//- new_conversation_id  If new conversation is generated, this id should be used as conversation ID

block content
  .row.chat-history.scroll-end
    #chatmessages.col 
  .row.chat-input
    .col-11
      textarea#input.form-control.chat-textarea(name="input", cols="30", rows="5") 
    .col-1
      button.btn.btn-primary T
      br
      button.btn.btn-primary S
  hr
  pre#this_conversation= JSON.stringify(this_conversation, null, 2)
  hr
  pre#chats= JSON.stringify(chats, null, 2)
  hr
  pre#new_conversation_id= new_conversation_id
  script(src="/chat3.js") 
