extends layout

block content
  .row 
    .col 
      h2 Budget data tester 
  .row 
    .col 
      #output
  .row 
    .col 
      pre#database= JSON.stringify(data, null, 2)
  script(src="https://d3js.org/d3.v7.min.js")
  script(src="/datatest_budget.js") 
