extends layout

block content
  h1 Electricity usage 
  .row 
    .col 
      b 192.168.0.39, 192.168.0.27: Lennart AC
    .col
      b 192.168.0.45, 192.168.0.31: Lennart PC
    .col
      b 192.168.0.46, 192.168.0.29: Maiko AC
    .col
      b 192.168.0.47, 192.168.0.28: Bedroom
  #output
  #daily-summary
  #pie-chart
  pre#logs.hidden= JSON.stringify(log, null, 2)
  pre#summary.hidden= JSON.stringify(summary, null, 2)
  script(src="https://d3js.org/d3.v7.min.js")
  script(src="/js/electricity_usage.js") 