extends layout

block content
  .row
    .col
      h2 Query 
      p= query
      h2 Results 
      each ref, i in refs 
        div 
          hr
          p= `Similarity score: ${Math.round(embedding_result[i].similarity * 10000)/100}%`
          p= ref.content
          hr
          b Chat content
          br
          each msg in conversations[i]
            div(class=`${msg.role}`)= msg.content
          hr
