extends layout

block content
  h2 Select a repository 
  select#repository.form-control(name="repository", onchange="SelectRepository(this)") 
    option(value="") - Select -
    each rep in repos
      option(value=rep.name, title=rep.description)= `${rep.name} (${rep.stars})`
  script(src="/js/github.js") 