doctype html
html(lang='en')
  head
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-36MZ9TJ4L1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-36MZ9TJ4L1', { cookie_flags: 'SameSite=None;Secure' });
    title Lennart's Website
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    block content