doctype html
html(lang='en')
  head
    if gtag
      script(async src="https://www.googletagmanager.com/gtag/js?id=G-RGSSE514L4")
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-RGSSE514L4', { cookie_domain: 'home.lentmiien.com', cookie_flags: 'SameSite=None;Secure' });
    title Lennart's Website
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Social media meta tags - start
    meta(property='og:title', content='Lennart\'s Website')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://home.lentmiien.com/')
    meta(property='og:image', content='https://home.lentmiien.com/image.jpg')
    meta(property='og:description', content='Welcome to the digital home of Lennart, where technology meets culinary art and cultural exploration. Based in Japan with Swedish origins, I am a seasoned programmer specializing in JavaScript, AI, and machine learning. I lead a dynamic team to enhance English customer service through innovative tech solutions. Beyond programming, I indulge in fusing Swedish and Japanese culinary traditions, finding joy in creating nutritious and delicious dishes. My life in Japan enriches me deeply, embracing its culture in my journey of personal and professional growth. Through this website, I aim to share my adventures in integrating technology with everyday life, culinary experiments, and the insights gained from my cross-cultural experiences. Join me in exploring the seamless blend of innovation, tradition, and natural beauty.')
    meta(property='og:site_name', content='Lennart\'s Website')
    meta(property='og:image:width', content='1200')
    meta(property='og:image:height', content='630')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:creator', content='@lentmiien')
    meta(name='twitter:title', content='Lennart\'s Website')
    meta(name='twitter:description', content='Welcome to the digital home of Lennart, where technology meets culinary art and cultural exploration. Based in Japan with Swedish origins, I am a seasoned programmer specializing in JavaScript, AI, and machine learning. I lead a dynamic team to enhance English customer service through innovative tech solutions. Beyond programming, I indulge in fusing Swedish and Japanese culinary traditions, finding joy in creating nutritious and delicious dishes. My life in Japan enriches me deeply, embracing its culture in my journey of personal and professional growth. Through this website, I aim to share my adventures in integrating technology with everyday life, culinary experiments, and the insights gained from my cross-cultural experiences. Join me in exploring the seamless blend of innovation, tradition, and natural beauty.')
    meta(name='twitter:image', content='https://home.lentmiien.com/image.jpg')
    meta(name='twitter:image:alt', content='A fusion of Swedish and Japanese cultures set within a modern, technology-driven landscape. Picture a serene Japanese garden blending seamlessly into a snowy Swedish forest. In the foreground, a traditional Swedish wooden table filled with a mix of Japanese and Swedish dishes, expertly prepared and beautifully presented. Scattered among these dishes are subtle elements of technology, such as a futuristic AI interface and small, high-tech gadgets that enhance the dining experience. A harmonious blend of nature, technology, gastronomy, and cultural integration, capturing the essence of a balanced, innovative lifestyle.')
    //- Social media meta tags - end
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/nav.css")
  body
    .nav-placeholder
    .navbar-icon(onclick="toggleNavbar()") ☰
    a#goTopPageBtn.nav-action-btn(href=`${loggedIn ? "/mypage" : "/"}`) ⌂
    button#actionBtn.nav-action-btn(disabled) ---
    #navbar.navbar
      .navbar-column
        a.type-1-link(href="/blog", style="width:100%;") Blog
        a.type-2-link(href="/blog/Personal/list", style="width:100%;") Personal
        a.type-2-link(href="/blog/Programming/list", style="width:100%;") Programming
        a.type-2-link(href="/blog/Food/list", style="width:100%;") Food
        if loggedIn == true
          a.type-2-link(href="/mypage/blogpost", style="width:100%;") Write blog
      if loggedIn == true
        if chatmode
          .navbar-column
            a.type-1-link(href="/chat3", style="width:100%;") New chat
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") History
              ul.dropdown-menu
                li#history_list
                  button.dropdown-item(onclick="showHModalPopup()") Show all
                  hr
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Select head
              ul.dropdown-menu
                li#head_list
        .navbar-column
          a.type-1-link(href="/chat3", style="width:100%;") ChatGPT
          a.type-2-link(href="/chat4", style="width:100%;") Chat4 test
          a.type-2-link(href="/chat4/knowledgelist", style="width:100%;") Chat4 knowledge
          a.type-2-link(href="/chat3/manage_templates", style="width:100%;") ChatGPT tempaltes
          a.type-2-link(href="/chat3/manage_knowledge", style="width:100%;") ChatGPT knowledge
          a.type-2-link(href="/openai", style="width:100%;") OpenAI database
          a.type-2-link(href="/openai/manage", style="width:100%;") Manage Open AI API models
          a.type-2-link(href="/openai/history", style="width:100%;") Open AI API usage history
          a.type-2-link(href="/embedding", style="width:100%;") Embeddings
          a.type-2-link(href="/mypage/speektome", style="width:100%;") [TEST] Speek to me
          a.type-2-link(href="/mypage/showtome", style="width:100%;") [TEST] Show to me
          a.type-1-link(href="/chat3/browse_knowledge?id=6562e7bb5d76250d064fe480", style="width:100%;") Cookbook
          a.type-1-link(href="/chat3/browse_knowledge?id=656304600cbce400a732cc81", style="width:100%;") Knowledge
        .navbar-column
          a.type-1-link(href="/accounting", style="width:100%;") Budget
          a.type-2-link(href="/accounting/add_transaction", style="width:100%;") Add transaction
          a.type-2-link(href="/accounting/datatest", style="width:100%;") [TEST] Budget
        .navbar-column
          a.type-1-link(href="/cooking", style="width:100%;") Cooking calendar
          a.type-2-link(href="/cookingp", style="width:100%;") [TEST] Cooking public page
          a.type-2-link(href="/cookingp?uid=nzz8gXilQBZ8nxS78b0UjhpPtnXqUMFW", style="width:100%;") [TEST] Maiko cooking request page
          a.type-2-link(href="/cookingp?uid=JSqngWDQyGoIVohdrG96dxU6XYSDv98G", style="width:100%;") [TEST] Mizuki cooking request page
        .navbar-column
          a.type-1-link(href="/health", style="width:100%;") Health tracker
          a.type-1-link(href="/box", style="width:100%;") Box packer
        .navbar-column
          a.type-2-link(href="/chat", style="width:100%;") [OLD] ChatGPT v1
          a.type-2-link(href="/chat2", style="width:100%;") [OLD] ChatGPT v2
          a.type-2-link(href="/gptdocument", style="width:100%;") [OLD] GPT document
      else
        .navbar-column
          a.type-1-link(href="/login", style="width:100%;") Log in
    .container-fluid
      block content
    div(style="height:50px;")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous")
    script(src="/js/nav.js", defer) 
