extends layout

include includes/log_viewer

block styles
  style
    include includes/log_viewer_styles.css

block content
  +logViewer(files, selectedFile, entries, levels, filters, categories, hasUncategorized, formAction)
