extends layout

block content
  .row 
    .col 
      h2 Add template form
      form(action="/chat3/manage_templates_post", method="post") 
        label(for="title") Title 
        input#title.form-control(type="text", name="title")
        label(for="type") Type 
        select#type.form-control(name="type") 
          option(value="chat") Chat
          option(value="context") Context
          option(value="image") Image
        label(for="category") Category 
        input#category(type="text", name="category")
        label(for="text") Prompt text 
        textarea#text.form-control(name="text", cols="30", rows="10")
        input.btn.btn-primary(type="submit", value="Save")
  .row 
    .col 
      h2 Manage existing content 
      each t in chat_templates
        p= t.Title