extends layout

block content
  .row
    .col
      b= `Welcome to the my page, ${name}!`
  .row 
    .col 
      a.btn.btn-link(href="/mypage/blogpost")
        img(src="/i/blog.jpg", alt="budget")
        p Write blog
      a.btn.btn-link(href="/accounting/add_transaction")
        img(src="/i/budget.jpg", alt="budget")
        p Add transaction
      a.btn.btn-link(href="/chat3")
        img(src="/i/chat.jpg", alt="chat")
        p Chat
      a.btn.btn-link(href="/chat3/browse_knowledge?id=6562e7bb5d76250d064fe480")
        img(src="/i/cookbook.jpg", alt="cookbook")
        p Cookbook
      a.btn.btn-link(href="/chat3/browse_knowledge?id=656304600cbce400a732cc81")
        img(src="/i/knowledge.jpg", alt="knowledge")
        p Browse knowledge
      a.btn.btn-link(href="/cooking")
        img(src="/i/calendar.jpg", alt="cooking calendar")
        p Cooking calendar
