extends layout

block content
  h1 Navigator 
  p Destination: 
    b= `Longitude: ${longitude}, Latitude: ${latitude}`
  p Current location: 
    span Latitude: 
    span#la 
    span , Longitude: 
    span#lo
  p Current time: 
    span#time
  div#longitude.hidden= longitude
  div#latitude.hidden= latitude
  canvas#compassCanvas(width="300" height="300")
  div#distanceLabel
  div#status
  script(src="/js/navigate_to_location.js")