doctype html
html(lang='en')
  head
    title Lennart's Website
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css")
  body
    #editor
    script(src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js", defer)
    script(src="/js/test_editor.js", defer)