.hidden {
  display: none;
}

.article {
  border: 1px dotted black;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.user {
  border: 1px solid darkgreen;
  background-color: rgb(220, 255, 220);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.assistant {
  border: 1px dashed darkblue;
  background-color: rgb(220, 220, 255);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.system {
  border: 1px dashed darkgray;
  background-color: rgb(220, 220, 220);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.system-small {
  border: 1px dashed darkgray;
  background-color: rgb(220, 220, 220);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  font-size: x-small;
}

.fotter {
  border-top: 1px solid darkblue;
  color: rgb(100, 100, 100);
  font-size: smaller;
}

.message > pre {
  background-color: black;
  color: white;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

/* #chat-history {
  max-height: 800px;
  overflow-y: scroll;
} */

#chat-history > a {
  width: 100%;
}

/* #chatwindow {
  max-height: 800px;
  overflow-y: scroll;
} */

.text_card {
  padding: 5px;
  margin: 5px;
  border: 1px dashed rgb(201, 201, 201);
}

.text_chunk {
  padding: 5px;
  margin: 5px;
}

.document {
  margin-bottom: 5px;
}

/* Display of OpenAI chats */

.openai_conversation {
  margin: 5px;
  padding: 10px;
  border: 2px dashed black;
  border-radius: 10px;
}

.openai_content pre {
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 5px;
  border-radius: 5px;
}

/* Chat 3 */

.chat-history {
  height: 70vh;
}

.scroll-end, .tool-scroll-end {
  overflow: scroll;
}

.centered-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#popup, .popup-wrapper {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  overflow-y: auto; /* Enables scrolling on the .popup itself */
}

.popup-content {
  background-color: #fefefe;
  margin: 50px auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 90%; /* Could be more or less, depending on screen size */
  max-height: 90vh; /* Adjust as needed based on header/footer size */
  overflow-y: auto; /* Enables scrolling within the .popup-content */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.button-container {
  display: flex; /* Apply Flexbox to the container */
  flex-wrap: wrap; /* Enable wrapping of child elements (buttons) */
  gap: 10px; /* This applies both row and column gaps */
  justify-content: flex-start; /* Align items to the start of the container */
}

.button-container button, .button-container input, .button-container a {
  flex: 1 1 auto; /* Flex grow, shrink, and basis */
  margin: 5px; /* Margin for additional spacing, if needed beyond the gap */
  width: 150px;
  /* Add more button styles here */
}

/* Loading Popup Styles */
.loading-popup {
  display: none;
  position: fixed;
  z-index: 1000; /* Higher than any other content */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.8); /* Dark overlay */
}

.loading-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Style the image gallery thumbnails */
.thumbnail {
  height: 100px; /* Set the maximum height of the thumbnails */
  width: auto; /* Maintain aspect ratio */
  cursor: pointer;
}

/* Style the modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.history-button {
  z-index: 10;
  margin: 3px;
}

.div-group {
  background-color: rgba(255, 255, 255, 0.7);
}

/* Modal Content (image) */
.modal-content {
  display: block;
  width: auto; /* Auto width to maintain aspect ratio */
  height: auto; /* Auto height to maintain aspect ratio */
  max-width: 100%; /* Max width adjusted below for larger screens */
  max-height: 90vh;
  margin: 20px auto; /* Centers the image */
}

/* The Close Button */
.close-btn {
  position: absolute;
  top: 10px;
  left: 15px;
  color: black;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10; /* Ensure it's above other modal content */
}

.button-thumbnail {
  height: 50px; /* Set the maximum height of the thumbnails */
  width: auto; /* Maintain aspect ratio */
  margin-right: 5px;
}

#content {
  border: 1px dashed black;
  padding: 5px;
  border-radius: 10px;
}

.image-large {
  height: 256px; /* Set the maximum height of the thumbnails */
  width: auto; /* Maintain aspect ratio */
  margin: 5px;
}

.image1024 {
  max-width: 1024px;
  width: 100%;
  height: auto;
}

.a_disabled {
  pointer-events: none; /* Prevents clicking */
  color: grey; /* Make it look disabled */
  text-decoration: none; /* Remove underline */
  cursor: default; /* Change cursor to default instead of pointer */
}

.foodday {
  border: 1px solid darkgoldenrod;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

.date-title{
  background-color: lightgray;
  font-weight: bolder;
  border-bottom: 5px double darkblue;
}

/* Profile */
.profile-section { margin-bottom: 40px; }
.profile-img { width: 100%; height: auto; }
.section-title { text-align: center; margin-bottom: 20px; }
.section-content { margin: 0 auto; text-align: justify; }

/* Copy action menu */
#sticky-action-bar {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: none; /* Hidden initially */
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1000; /* Ensure it's above other content */
}

.h-modal-content {
  position: fixed;
  left: 10%;
  top: 0;
  width: 80%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
}

.scrollable-column {
  max-height: 90vh; /* Example height */
  overflow-y: scroll; /* Enables vertical scrolling */
}

/* Container styling */
.c3_wrapper {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: stretch; /* Stretch child elements to fit the container's width */
  width: 100%; /* Take full width, adjust as necessary or use max-width for constraint */
}

/* Textarea styling */
.c3_textarea {
  width: 100%; /* Ensure textarea takes full width */
  resize: vertical; /* Limit resizing to vertical to maintain layout */
  margin-bottom: 2px; /* Optional: Add some space between the textarea and buttons */
}

/* Buttons container styling */
.c3_buttons {
  width: 100%; /* Take up full width */
}

/* Button styling */
.c3_btn {
  width: 50%; /* Ensure each button takes full width */
  cursor: pointer; /* Optional: Change cursor on hover */
  margin-bottom: 5px; /* Optional: Add space between buttons */
}

.chat4_img_wrapper {
  width: 100px;
  height: 100px;
  overflow: hidden;
  cursor: pointer;
}

.chat4_img {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.chat4_img_slide {
  width: 100px;
}

.header-row {
  background-color: lightgray;
}

.infobutton {
  cursor: help;
}

.append_message_container, .append_message_container2 {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#log_preview {
  border: 1px dashed gray;
  border-radius: 5px;
}

/******************/
/*     Redact     */
/******************/

.redact-section {
  margin: 20px 0;
}

.redact-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redact-item.selected {
  background-color: #f99;
  border-color: #f00;
}

.redact-content {
  flex-grow: 1;
  text-align: left;
}

.redact-images img,
.redact-audio audio {
  max-width: 100%;
}

.redact-item input[type="checkbox"] {
  display: none;
}

/*****************/
/*     Batch     */
/*****************/

.prompt-container {
  width: 100%;
  padding: 5px;
}

.prompt-entry {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

.pending {
  background-color: lightblue;
}

.processing {
  background-color: lightyellow;
}

.completed {
  background-color: lightgreen;
}

.batch_status_pending {
  background-color: lightblue;
}

.batch_status_completed {
  background-color: lightyellow;
}

.batch_status_failed {
  background-color: lightcoral;
}

.batch_status_DONE {
  background-color: lightgreen;
}

/*********** TOOL **************/
.assistant img,
.user img {
    max-width: 100%;
    height: auto;
}

/****** quick-note ******/
.quick-note {
  border-top: 5px double black;
  padding-top: 5px;
  margin-bottom: 20px;
}

/* Flash effect for copied <code> elements */
code.copied {
  background-color: #d4edda; /* Light green background */
  color: #155724; /* Dark green text */
  transition: background-color 0.3s, color 0.3s;
}

code {
  cursor: pointer;
  position: relative;
}

code::after {
  content: "Copy";
  position: absolute;
  top: 0;
  left: 0;
  background: #333;
  color: #fff;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

code:hover::after {
  opacity: 1;
}
