.hidden {
  display: none;
}

.article {
  border: 1px dotted black;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.user {
  border: 1px solid darkgreen;
  background-color: rgb(220, 255, 220);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.assistant {
  border: 1px dashed darkblue;
  background-color: rgb(220, 220, 255);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.system {
  border: 1px dashed darkgray;
  background-color: rgb(220, 220, 220);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.system-small {
  border: 1px dashed darkgray;
  background-color: rgb(220, 220, 220);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  font-size: x-small;
}

.fotter {
  border-top: 1px solid darkblue;
  color: rgb(100, 100, 100);
  font-size: smaller;
}

.message > pre {
  background-color: black;
  color: white;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

/* #chat-history {
  max-height: 800px;
  overflow-y: scroll;
} */

#chat-history > a {
  width: 100%;
}

/* #chatwindow {
  max-height: 800px;
  overflow-y: scroll;
} */

.text_card {
  padding: 5px;
  margin: 5px;
  border: 1px dashed rgb(201, 201, 201);
}

.text_chunk {
  padding: 5px;
  margin: 5px;
}

.document {
  margin-bottom: 5px;
}

/* Display of OpenAI chats */

.openai_conversation {
  margin: 5px;
  padding: 10px;
  border: 2px dashed black;
  border-radius: 10px;
}

.openai_content pre {
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 5px;
  border-radius: 5px;
}

/* Chat 3 */

.chat-history {
  height: 70vh;
}

.scroll-end, .tool-scroll-end {
  overflow: scroll;
}

.centered-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  overflow-y: auto; /* Enables scrolling on the .popup itself */
}

.popup-content {
  background-color: #fefefe;
  margin: 50px auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 90%; /* Could be more or less, depending on screen size */
  max-height: 90vh; /* Adjust as needed based on header/footer size */
  overflow-y: auto; /* Enables scrolling within the .popup-content */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

/* Loading Popup Styles */
.loading-popup {
  display: none;
  position: fixed;
  z-index: 1000; /* Higher than any other content */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.8); /* Dark overlay */
}

.loading-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Style the image gallery thumbnails */
.thumbnail {
  height: 100px; /* Set the maximum height of the thumbnails */
  width: auto; /* Maintain aspect ratio */
  cursor: pointer;
}

/* Style the modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.history-button {
  z-index: 10;
  margin: 3px;
}

/* Modal Content (image) */
.modal-content {
  display: block;
  width: auto; /* Auto width to maintain aspect ratio */
  height: auto; /* Auto height to maintain aspect ratio */
  max-width: 100%; /* Max width adjusted below for larger screens */
  max-height: 90vh;
  margin: 20px auto; /* Centers the image */
}

/* The Close Button */
.close-btn {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10; /* Ensure it's above other modal content */
}

.button-thumbnail {
  height: 50px; /* Set the maximum height of the thumbnails */
  width: auto; /* Maintain aspect ratio */
  margin-right: 5px;
}

#content {
  border: 1px dashed black;
  padding: 5px;
  border-radius: 10px;
}

.image-large {
  height: 256px; /* Set the maximum height of the thumbnails */
  width: auto; /* Maintain aspect ratio */
  margin: 5px;
}
