.hidden {
  display: none;
}

.article {
  border: 1px dotted black;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.user {
  border: 1px solid darkgreen;
  background-color: rgb(220, 255, 220);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.assistant {
  border: 1px dashed darkblue;
  background-color: rgb(220, 220, 255);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.fotter {
  border-top: 1px solid darkblue;
  color: rgb(100, 100, 100);
  font-size: smaller;
}

.message > pre {
  background-color: black;
  color: white;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

/* #chat-history {
  max-height: 800px;
  overflow-y: scroll;
} */

#chat-history > a {
  width: 100%;
}

/* #chatwindow {
  max-height: 800px;
  overflow-y: scroll;
} */

.text_card {
  padding: 5px;
  margin: 5px;
  border: 1px dashed rgb(201, 201, 201);
}

.text_chunk {
  padding: 5px;
  margin: 5px;
}

.document {
  margin-bottom: 5px;
}

/* Display of OpenAI chats */

.openai_conversation {
  margin: 5px;
  padding: 10px;
  border: 2px dashed black;
  border-radius: 10px;
}

.openai_content pre {
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 5px;
  border-radius: 5px;
}