extends ../layout

block content
  .container-fluid.schedule-calendar-page
    .schedule-page-header
      div
        p.schedule-page-kicker Schedule
        h2.mb-0 Next 72 Hours
      .schedule-actions
        a.btn.schedule-nav-button(href='/scheduleTask/upcoming') Upcoming
        a.btn.schedule-nav-button(href='/scheduleTask/statistics') Statistics
        a.btn.schedule-nav-button.schedule-nav-button--presence(href="/scheduleTask/new/presence") New Presence
        a.btn.schedule-nav-button.schedule-nav-button--task(href="/scheduleTask/new/task") New Task

    //- Overdue bar placeholder (will be inserted by JS)
    #overdueBar

    // Grid rendered via calendar.js
    #calendarGrid
      .schedule-loading Loading schedule...

    //- Modals for task and slot (hidden, filled by JS)
    #taskModal.modal.fade(style="z-index:1051;", tabindex="0")
      .modal-dialog
        .modal-content
          .modal-header
            h5.modal-title Task Details
            button.btn-close(type="button", data-bs-dismiss="modal")
          .modal-body
            // JS populates this
          .modal-footer
            button.btn.btn-primary.btn-edit(type='button', data-bs-dismiss='modal') Edit
            button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close

    #slotModal.modal.fade(style="z-index:1051;", tabindex="0")
      .modal-dialog
        .modal-content
          .modal-header
            h5.modal-title Slot Details
            button.btn-close(type="button", data-bs-dismiss="modal")
          .modal-body
            // JS populates this
          .modal-footer
            button.btn.btn-success.btn-new-presence(type='button') New Presence
            button.btn.btn-primary.btn-new-task(type='button') New Task
            button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Close

  //- Scripts
  script(src="/js/scheduleTask/api.js", defer)
  script(src="/js/scheduleTask/calendar.js", defer)
  script(src="/js/scheduleTask/interactions.js", defer)

block styles
  link(rel='stylesheet', href='/css/scheduleTaskCalendar.css')
