extends ../layout
  
block content
  - const action = isEdit ? `/payroll/${doc._id}?_method=PUT` : '/payroll'
  h1 #{isEdit ? 'Edit' : 'Add'} payroll
  form(method='post', action=action)
    include ./_formBody.pug

  script(src='/js/payroll-form.js')

  datalist#earn
    option(value="Basic Salary")
    option(value="Position Allowance")
    option(value="Position Allowance")
    option(value="Child Allowance")
    option(value="Overtime Pay")
    option(value="Tax Correction")
  datalist#deduct
    option(value="Health Insurance")
    option(value="Welfare Pension")
    option(value="Employment Insurance")
    option(value="Income Tax")
    option(value="Resident Tax")
    option(value="Purchase")
    option(value="Tax Correction")
